#!/bin/bash
#
# Generate .parm7 and .rst7 files from structure
#

tleap=$AMBERHOME/bin/tleap

$tleap -f - <<_EOF

# Load force fields
source leaprc.protein.ff14SBonlysc

# Load PDB structure
ab = loadpdb %pdb_path%

# Create .parm7 and .rst7 files
saveamberparm ab %name_structure_path_parm% %name_structure_path_rst%

quit
_EOF
