#!/bin/bash
#
# Use ParmEd to scale GB radius, LJ radius, LJ well depth and charge according
# to function selected in control file and the window.
#

parmed=$AMBERHOME/bin/parmed

$parmed %parm_file_path% <<_EOF
loadRestrt %rst_file_path%
setOverwrite True
 
