# Replica Exchange log file
# numexchg is        %n_exchanges%
# REMD filenames:
#   remlog= rem.log
#   remtype= rem.type
# Rep#, Neibr#, Temp0, PotE(x_1), PotE(x_2), left_fe, right_fe, Success, Success rate (i,i+1)