#!/bin/bash
#
# Submit equilibration simulations to run on the cluster.
#
#SBATCH --job-name=%residue_number%_%aminoacid_mutant%_equil_%wt_or_mt%
#SBATCH --time=1-23:59:59
#SBATCH --nodes=1
#SBATCH --ntasks=1
#SBATCH --gres=gpu:1
#SBATCH --mail-type=ALL
#SBATCH --mail-user=ch.sustay@physik.uni-muenchen.de
#

module load amber

cd %wt_or_mt%/

echo "Equilibrating %wt_or_mt%..."

echo "Heating..."
pmemd.cuda -i heat.in -c minimization.rst7 \
       -ref minimization.rst7 -p topology.parm7 \
       -O -o heat.out -inf heat.info -r heat.rst7 -x heat.nc \
       -l heat.log

echo "Equilibrating..."
pmemd.cuda -i equilibration.in -c heat.rst7 -ref heat.rst7 \
       -p topology.parm7 \
       -O -o equilibration.out -inf equilibration.info \
       -r equilibration.rst7 -x equilibration.nc \
       -l equilibration.log
cp equilibration.rst7 ../../SASA/%wt_or_mt%/

if [ -f ./sample.in ]; then
       echo "Sampling configuration space..."
       pmemd.cuda -i sample.in -c equilibration.rst7 \
              -ref equilibration.rst7 -p topology.parm7 \
              -O -o sample.out -inf sample.info -r sample.rst7 \
              -x sample.nc -l sample.log
fi

cd ../
echo "Done."
